<div class="m-4">
  <app-add-course></app-add-course>
  <!-- <app-add-course (add_course)="handleAdd($event)"></app-add-course> -->
</div>

<button
  class="btn btn-primary"
  [disabled]="disable === true"
  (click)="showButton()"
>
  {{ show ? "Hide" : "Show" }}
</button>

<div class="form-floating mb-3">
  <input
    type="text"
    class="form-control"
    id="floatingInput"
    placeholder="name@example.com"
    [(ngModel)]="value"
  />
  <label for="floatingInput">Search</label>
</div>

<div class="container row" *ngIf="show">
  <div *ngFor="let course of courses | search: value" class="col">
    <app-card
      [title]="course.title"
      [summary]="course.summary"
      [shared]="course.shared"
      [id]="course.id"
    ></app-card>
  </div>
</div>
